<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>981407585535-jjf8q47frq7fcqq2dbq3p3smrk7bbi2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981407585535-jjf8q47frq7fcqq2dbq3p3smrk7bbi2r</string>
	<key>API_KEY</key>
	<string>AIzaSyB_NNt5OfBUu_05u3ynHcACamWeKMgu2b0</string>
	<key>GCM_SENDER_ID</key>
	<string>981407585535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cn.mengyoutu.dqxRecipe</string>
	<key>PROJECT_ID</key>
	<string>dqxrecipe</string>
	<key>STORAGE_BUCKET</key>
	<string>dqxrecipe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:981407585535:ios:b0ad629307c7d9f1</string>
	<key>DATABASE_URL</key>
	<string>https://dqxrecipe.firebaseio.com</string>
</dict>
</plist>